{:deps     {:aliases [:dev]}
 :dev-http {8090 ["resources/public"]}
 :builds   {:app {:target  :browser
                  :modules {:main {:init-fn example.dev/main}}
                  :dev     {:output-dir "resources/public/js"}}}}